<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.WAppz.PassSafe">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logolight"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logolight_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IkesPasswordVault"
        tools:targetApi="31">
        <activity
            android:name="com.WAppz.PassSafe.accountSettings"
            android:exported="false" />
        <activity
            android:name="com.WAppz.PassSafe.individualPass"
            android:exported="false" />
        <activity
            android:name="com.WAppz.PassSafe.addPass"
            android:exported="false" />
        <activity
            android:name="com.WAppz.PassSafe.mainpage"
            android:exported="true"/>

        <activity
            android:name="com.WAppz.PassSafe.login"
            android:exported="false" />
        <activity
            android:name="com.WAppz.PassSafe.signup"
            android:exported="false" />
        <activity android:name="com.WAppz.PassSafe.splashScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
</manifest>